*.aux
*.bbl
*.log
*.blg
*.out
*.toc
*.run.xml
*.synctex.gz
*.lof
*.lol
*.lot
*.fdb_latexmk
*.fls
.DS_Store
_minted-main/
Exposé/
Formulare/
Literatur/
main.pdf
svg-inkscape/
# exclude temp Office files
~$*

# among others, custom dictionary for this project
.vscode/